*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    background-color: rgb(0, 0, 22);
    color: #fff;
}

.master{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sf{
    display: flex;
}

.btns{
    display: flex;
    margin: 30px;
    margin-top: 30px;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
}

.pagination-btn{
    padding: 10px;
    border: none;
    background-color: rgba(0, 242, 250, 0.5);
    box-shadow: 0 0 20px rgba(0, 242, 250, 0.5);
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}

.pagination-btn:hover{
    background: rgba(0, 242, 250, 0.4);
}